<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunkoShop</title>
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar-logo">
            <a href="../index.html"><img src="../../../public/img/branding/logo_light_horizontal.svg" alt="">
            </a>
            </picture>
            <ul class="navbar-menu">
               <li class="navbar-item with-submenu">
                <a class="navbar-link with-icon" href="../pages/shop.html">SHOP<iconify-icon icon="humbleicons:chevron-down"></iconify-icon></a>
                <ul class="submenu">
                    <li class="submenu-item"><a  class="submenu-link" href="">Funkos</a></li>
                    <li  class="submenu-item"><a  class="submenu-link" href="">Remeras</a></li>
                    <li  class="submenu-item"><a  class="submenu-link" href="">Llaveros</a></li>
                </ul>
            </li>
                <li class="navbar-item"><a class="navbar-link" href="#">CONTACTO</a></li>
               <li class="navbar-item"><a class="navbar-link" href="../pages/login.html">LOGIN</a></li>
                <li class="navbar-item"><a class="navbar-cart" href=""><img src="../../../public/img/icons/cart-icon.svg" alt=""></a></li>
            </ul>
        </nav>
    </header>
    <main id="shop"  class="container">
        <aside  class="shop-filters filters">
                <div class="filters-search">
                    <label class="filters-title" for="nombre">BUSCAR</label>
                    <input type="text" name="nombre" placeholder="item o categoría" required>  
                </div>
                <div class="filters-order filters-search" > 
                    <label class="filters-title" for="nombre">ORDENAR POR</label>
                    <select name="orderby" id="orderby">
                        <option value="az">A-Z</option>
                        <option value="za">Z-A</option>
                        <option value="desc">Mayor precio</option>
                        <option value="asc">Menor precio</option>
                    </select>
                </div>
                <div class="filter-price filters-search">
                    <span class="filters-title">PRECIO</span>
                    <div>
                        <label for="min">MIN</label>
                        <input type="text" name="min" id="min" placeholder="0">
                        <label for="max">- MAX</label>
                        <input type="text" name="max" id="max" placeholder="0">
                    </div>
                </div>
                <div class="filters-checks ">
                    <span class="filters-title filters-search" for="filter">FILTRAR</span>
                    <div>
                        <input type="checkbox" name="filter" id="news" value="news">
                        <label for="">NUEVOS</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="offers" value="offers">
                        <label for="">OFERTAS</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="specials" value="specials">
                        <label for="">EDICIÓN ESPECIAL</label>
                    </div>
                    <div>
                        <input type="checkbox" name="filter" id="favs" value="favs">
                        <label for="">FAVORITOS</label>
                    </div>
                </div>
        </aside>
        <section >
            <ul class="slider-items shop__items" >
            <li class="slider-item">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/star-wars/baby-yoda-1.webp" alt="Figura coleccionable Funko de un baby-yoda">
                            <img class="card-item__img--back" src="../../../public/img/star-wars/baby-yoda-box.webp" alt="Figura coleccionable Funko de un baby-yoda en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Star Wars</p>
                            <h4 class="card-item__name">Baby Yoda Blueball</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/star-wars/bobbafeth-1.webp" alt="Figura coleccionable Funko de un bobbafeth">
                            <img class="card-item__img--back" src="../../../public/img/star-wars/bobbafeth-box.webp" alt="Figura coleccionable Funko de un bobbafeth en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">star wars</p>
                            <h4 class="card-item__name">Boba Fett Fighterll</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="shop__item">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/11">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/star-wars/luke-1.webp" alt="Figura coleccionable Funko de un luke">
                            <img class="card-item__img--back" src="../../../public/img/star-wars/luke-box.webp" alt="Figura coleccionable Funko de un luke en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Star Wars</p>
                            <h4 class="card-item__name">Luke Skylwalker & Grogu</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/star-wars/trooper-1.webp" alt="Figura coleccionable Funko de un trooper">
                        <img class="card-item__img--back" src="../../../public/img/star-wars/trooper-box.webp" alt="Figura coleccionable Funko de un trooper en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Star Wars</p>
                            <h4 class="card-item__name">Stormtrooper Lightsaber</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/charmander-1.webp" alt="Figura coleccionable Funko de un charmander">
                             <img class="card-item__img--back" src="../../../public/img/pokemon/charmander-box.webp" alt="Figura coleccionable Funko de un charmander en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Pokemon</p>
                            <h4 class="card-item__name">Charmander Smiley</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/dragonite-1.webp" alt="Figura coleccionable Funko de un dragonite">
                         <img class="card-item__img--back" src="../../../public/img/pokemon/dragonite-box.webp" alt="Figura coleccionable Funko de un dragonite en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Pokemon</p>
                            <h4 class="card-item__name">Dragonite Hi!</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/pidgeotto-1.webp" alt="Figura coleccionable Funko de un pidgeotto">
                            <img class="card-item__img--back" src="../../../public/img/pokemon/pidgeotto-box.webp" alt="Figura coleccionable Funko de un pidgeotto en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Pokemon</p>
                            <h4 class="card-item__name">Pidgeotto Flying</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/1">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/pikachu-1.webp" alt="Figura coleccionable Funko de un pikachu">
                           <img class="card-item__img--back" src="../../../public/img/pokemon/pikachu-box.webp" alt="Figura coleccionable Funko de un pikachu en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Pokemon</p>
                            <h4 class="card-item__name">Pikachu Smiley</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/9">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/pokemon/vulpix-1.webp" alt="Figura coleccionable Funko de un vulpix">
                           <img class="card-item__img--back" src="../../../public/img/pokemon/vulpix-box.webp" alt="Figura coleccionable Funko de un vulpix en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Pokemon</p>
                            <h4 class="card-item__name">Vulpix Fancy</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/10">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/harry-potter/harry-1.webp" alt="Figura coleccionable Funko de un harry potter">
                           <img class="card-item__img--back" src="../../../public/img/harry-potter/harry-box.webp" alt="Figura coleccionable Funko de un harry potter en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Harry Potter</p>
                            <h4 class="card-item__name">Harry Potter & Hegwid</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="shop__item">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/11">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/harry-potter/hermione-1.webp" alt="Figura coleccionable Funko de un hermione">
                            <img class="card-item__img--back" src="../../../public/img/harry-potter/hermione-box.webp" alt="Figura coleccionable Funko de un hermione en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Harry Potter</p>
                            <h4 class="card-item__name">Herminione Ball Dress</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/12">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/harry-potter/luna-1.webp" alt="coleccionable Funko de un luna">
                            <img class="card-item__img--back" src="../../../public/img/harry-potter/luna-box.webp" alt="Figura coleccionable Funko de un luna en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Harry Potter</p>
                            <h4 class="card-item__name">Luna Lovegood Lion Mask</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
            <li class="slider-item shop__items">
                <article class="card-item">
                    <a class="card-item__link" href="/shop/item/13">
                       <picture class="card-item__cover">
                            <span class="card-item__tag">Nuevo</span>
                            <img class="card-item__img--front" src="../../../public/img/harry-potter/snape-patronus-1.webp" alt="Figura coleccionable Funko de un snape-patronus">
                            <img class="card-item__img--back" src="../../../public/img/harry-potter/snape-patronus-box.webp" alt="Figura coleccionable Funko de un snape-patronus en caja">
                        </picture>
                       <div class="card-item__content">
                            <p class="card-item__licence">Harry Potter</p>
                            <h4 class="card-item__name">Snape Patronus</h4>
                            <p class="card-item__price">1799.99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                       </div>
                    </a>
                </article>
            </li>
        </ul>
        <div class="pagination">
            <a class="pagination__link signo" href="#">&lt;</a>
            <a class="pagination__link pagination__link--selected" href="#">1</a>
            <a class="pagination__link" href="#">2</a>
            <a class="pagination__link" href="#">3</a>
            <a class="pagination__link" href="#">4</a>
            <a class="pagination__link" href="#">5</a>
            <a class="pagination__link signo" href="#">&gt;</a>
        </div>
        </section>
    </main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar-item">
                <li class="navbar-item"><a class="navbar-link" href="../pages/shop.html">SHOP</a></li>
                <li class="navbar-item"><a class="navbar-link" href="../pages/register.html">REGISTRARSE</a></li>
                <li class="navbar-item"> <a class="navbar-link" href="../pages/login.html">LOGIN</a></li>
                <li class="navbar-item"> <a class="navbar-link" href="#">CONTACTO</a></li>
            </ul>
            <picture>
                <img src="../../../public/img/branding/isotype.svg" alt="">
            </picture>
        </nav>
        <p class="footer-copy"><small>All rights reserved 2023 - Funkoshop ©</small></p>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
</body>
</html>